{
 auto_https off
 admin off
}
:8080 {
 handle /healthz {
  respond "gateway ready" 200
 }
 handle /api/* {
  reverse_proxy 127.0.0.1:8000
 }
 handle /docs* {
  reverse_proxy 127.0.0.1:8000
 }
 handle {
  route {
   root * /data/uploads
   file_server {
    pass_thru
   }
   reverse_proxy {$WEB_HOST}:8001
  }
 }
}
